/* body {
    background-color: #f8f9fa;
} */

/* .container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

h1 {
    color: #007bff;
}

.contador {
    border: 2px dotted #5f5f5fd4;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    background-color: #BBCFA5;
}